<h1>Superheros</h1>

<div class="row justify-content-center" style="width: 100%;">
    <button class="btn btn-success" (click)="onCreateHero()">Create Hero</button>
</div>
<div class="sep"></div>
<pager [total]="page.totalPages" [current]="page.currentPage" (pageChanged)="nextPage($event)"></pager>

<div class="row" style="width: 100%;">
    <div class="col-sm-1" *ngFor="let hero of page.items">
        <hero-card [hero]="hero" (onDelete)="onDeleteHero(hero)" (onEdit)="onEditHero(hero)"></hero-card>
        <div class="sep"></div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" #deleteModel>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">Are your sure?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSelectedHero()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" #contentModel>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <hero-form [isNew]="isNew" (onSave)="onSaveHero()"></hero-form>    
            </div>
            
        </div>
    </div>
</div>
